// colors
$primary-color: #0E4E90;
$secondary-color: #3EB5E1;
$tercery-color: #1A79DB;
$quaternary-color: #A6DFF2;
$black-color: #000;
$white-color: #fff;

// font
$font-stack: 'Montserrat', sans-serift;
